/* semantic color variables for this project */
:root {
  --main-color-dark: hsla(230, 49%, 41%, 1);
  --main-accent-color-light: hsla(227, 42%, 51%, 1);
  --main-bg-color-one: hsla(210, 16%, 82%, 1);
  --main-blue-one: hsla(232, 51%, 36%, 1);
  --secondary-text-color-light: hsla(210, 24%, 16%, 1);
  --code-background: hsla(233, 31%, 17%, 1);
  --code-string-accent: hsla(0, 80%, 63%, 1);
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--main-bg-color-one);
  background: var(--code-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: var(--main-color-darkgreen);
  border-radius: 8px;
}
*::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 5px; /* Mostly for horizontal scrollbars */
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--main-accent-color-light);
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  /* Background */
  border-radius: 16px;
}

#app {
  display: grid;
  grid-template-columns: 1fr 6fr;
  font-weight: normal;
  overflow-y: auto;
  height: 100vh;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s;
}

span {
  color: var(--main-accent-color-light);
}

button {
  background-color: var(--main-bg-color-one);
  color: var(--main-accent-color-light);
  padding: 0.75rem;
  border-radius: 16px;
  outline: none;
  border: 1px solid var(--main-accent-color-light);
}

button:hover {
  cursor: pointer;
  background-color: var(--main-green-one);
  color: #ffffff;
  transition: background-color 0.25s ease;
}

button:visited {
  cursor: pointer;
  background-color: var(--main-green-one);
  transition: background-color 0.25s ease;
  color: #ffffff;
}

pre {
  background-color: var(--code-background);
  border-radius: 16px;
  padding: 30px;
  overflow: auto;
}

pre code {
  color: white;
  white-space: wrap;
}

.hljs-string {
  color: var(--code-string-accent);
}

.hljs-attr {
  color: aquamarine;
}

.hljs-number {
  color: aqua;
}

@media only screen and (max-width: 1600px) {
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #app {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  body {
    overflow: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--main-bg-color-one);
    color: #ffffff;
  }
}
